<!doctype html>
<head>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>
<body>
 <div class="col-sm-8 offset-md-2">
                <br/>
                <h1 class="text-center">BOOK INFORMATIONS<br/>
                <br/>
                </h1>
            </div>
<div class="container">
  <table class="table table-bordered table-striped text-center" border = 2>

    <tr>
       <th> Name </th>
       <td> {{ result[0]}} </td>
    </tr>
     <tr>
       <th> Author </th>
       <td> {{ result[1]}} </td>
    </tr>
     <tr>
       <th> Year </th>
       <td> {{ result[2]}} </td>
    </tr>
     <tr>
       <th> Genre </th>
       <td> {{ result[3]}} </td>
    </tr>


 </table>
</div>
</body>