<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-sm-8 offset-md-2">
                <br/>
                <h1 class="text-center">THE CLOUD LIBRARY<br/>
                <br/>
                </h1>
            </div>
    <div class="col-md-12 text-center">
    <a href=addbook><button class="btn btn-primary">
            ADD NEW BOOK
    </button></a>
        <br/>
        <br/>
        <a href=findbook><button class="btn btn-primary">
            FIND A BOOK
    </button></a>

    </div>


        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

</body>
</html>